#root, html, body{
    height:100vh;
}
body{
    margin:0;
    background: linear-gradient(109.6deg,rgb(0, 212, 255) 11.2% , rgb(144, 6, 161) 83.7%,rgb(9, 9, 121) 30.2%);
}
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}